extends /layouts/application.pug

block content
  .row.justify-content-md-center
    .col-md-8.col-sm-12
      .text-center.my-5
        h1 Священный Коран
        p.lead.mb-0 в хронологическом порядке
        small На данный момент доступен только перевод И. Ю. Крачковского.
        br
        if isNormalOrder
          a.btn.btn-link(href=urlFor('root')) хронологический порядок сур
        else
          a.btn.btn-link(href=urlFor('normal')) канонический порядок сур

  .row
    .col
      ol.list
        each surah in surahs || []
          li
            - const link = isNormalOrder ? urlFor('canonical', surah.id) : urlFor('surah', surah.chronology)
            a.p-1(style='font-size: 0.85rem;' href=link)!=surah.name
