extends /layouts/application.pug

block content
  h5.mt-4 Количество найденных аятов по запросу&nbsp;
    i: strong!=q + ':&nbsp;'
    !=results.length
  .mb-4: small.text-muted Аяты отсортированы в хронологическом порядке.

  .row
    .col: .pl-0
      each ayat in results || []
        p.my-1
          span.badge.badge-dark=ayat.surah + ':' + ayat.order
          a.p-1.text-muted.font-normal(href=urlFor('surah', ayat.chronology) + '#' + ayat.order)!=ayat.result
