@import '~bootstrap/scss/bootstrap';
@import "variables";

body {
    min-height: 100vh;
    background: url('/assets/images/debut_light.png');
    position: relative;
}

.pdf {
    font-size: 24px;
}

.navbar {
    background: rgba(#f8f9fa, 0.95);
}

.list {
    column-gap: 6rem;
    column-width: 198px;
}

ul.list  {
    column-width: 350px;
    list-style: none;
}

.nav-wrapper {
    height: 57px;
}

.selected {
    margin: 0;
    padding: 5px 0;
    position: relative;
}
.selected:before {
    content: '';
    position: absolute;
    left: -45px;
    right: -5px;
    top: 0;
    bottom: 0;
    height: 100%;
    border-radius: 3px;
    background: rgba(9, 9, 9, 0.13);
}

.mobile-nav {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100vh;
    overflow: scroll;
    background: #fff;
    z-index: 9999;
}

.btn-fixed {
    right: 1rem;
    left: auto;
    bottom: 80px;
    z-index: 999;
    position: fixed;
}

.custom-dropdown-menu {
    max-height: 250px;
    overflow-y: scroll;
}

.font-normal {
    font-size: 0.9rem;
}

.main-page-pdf {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.pdf-surah-title {
    margin-top: 40px;
}
.pdf-surah-content {
    margin-bottom: 40px;
}
