NODE_ENV={{ node_env }}

READ_QURAN_PORT={{ read_quran_port }}
READ_QURAN_ENV_FILE={{ read_quran_env_file }}
READ_QURAN_RUN_USER={{ read_quran_run_user }}
READ_QURAN_DOCKER_NETWORK={{ read_quran_docker_network }}
READ_QURAN_DOCKER_IMAGE={{ read_quran_docker_image }}

POSTGRES_DB={{ postgres_name }}
POSTGRES_USER={{ postgres_user }}
POSTGRES_PASSWORD={{ postgres_password }}
DATABASE_URL={{ database_url }}

SENTRY_TOKEN={{ sentry_token }}
